* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Orbitron', sans-serif;

}

body {
  background-image: url('https://i.gifer.com/origin/05/05f0df9cd97b0ce99b4aa73cff4b88e2.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.registration {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  text-align: left;
  background-color: rgba(0, 27, 59, 0.909);
  margin: 30px auto 0px auto;
  text-align: center;
  border-radius: 2%;
  -webkit-box-shadow: -86px 68px 24px 26px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -86px 68px 24px 26px rgba(0, 0, 0, 0.69);
  box-shadow: -86px 68px 24px 26px rgba(0, 0, 0, 0.69);
}

#title {
  color: white;
  font-size: 20px;
  font-weight: 600;

}

.input-name {
  margin-top: 25px;
  padding: 11px 22px;
  width: 230px;
  height: 37px;
  border-radius: 20px;
  border: none;
}

.status-wrapper {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 27px 0 27px 0;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-wrapper>label {
  color: white;
  margin-left: 14px;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}

.radio {
  width: 20px;
  height: 20px;

}

button {
  background: #FFD600;
  border: none;
  border-radius: 20px;
  width: 230px;
  height: 40px;
  margin: 0px auto 0px auto;
  font-size: 15px;
  color: black;
  font-weight: 700;
}

.radio-error::after {
  content: 'Обязательно нужно сделать выбор';
  color: red;
  font-weight: 700;
  font-size: 8px;
}

.error-nick {
  border: solid 3px red;
}

.text-error1 {
  display: none;
  margin-top: 10px;
  color: red;
  font-size: 8px;
  text-align: left;
}

.text-error2 {
  display: none;
  margin-top: 10px;
  color: red;
  font-size: 8px;
  text-align: left;
}

.text-error3 {
  display: none;
  margin-top: 10px;
  color: red;
  font-size: 8px;
  text-align: left;
}

.successfully {
  display: none;
  margin-top: 20px;
  color: rgb(75, 211, 75);
  font-size: 10px;
  text-align: center;
}